---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: ‘Times New Roman’, Times, serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.75;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color: #bbbbbb;
$background-color: #3c3f41;
$brand-color: #d7695a;

$grey-color: #8c8c8c;
$grey-color-light: lighten($grey-color, 20%);
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";
.site-header{
  background: #f44336;
}
.site-title, .site-title:visited {
  color: #f5f5f5;
}

pre,
code {
  font-size: 15px;
  border: 1px solid #f2f2f2;
  border-radius: 3px;
  background-color: #004d40;
  margin-bottom: 5px;
  margin-top: 5px;
}

.site-nav .page-link {
  color: #f5f5f5;
}